.crud_form {
    background-color: #efe;
    padding: 5px;
}

.crud_form ul {
    list-style: none;
    margin: 12px;
    border: 2px dotted #9f9;
    padding: 5px;
}

.crud_form ul li {
    margin-left: 20px;
    margin-top:  2px;
    background-color: #9F9;
    border: 2px solid #8d8;
}

.crud_form ul li:hover {
    border: 2px solid blue;
}

.crud_form table {
    border: 1px solid #666666;
    width:300px;
    border-collapse: collapse;
    margin: 10px auto;
}

.crud_form table td {
    padding: 2px;
    text-align: center;
    border: 1px solid #666666;
}

.crud_form table th {
    border: 1px solid #666666;
}
