<div class="crud_form">
<p>
  <b>Name:</b>
  <%=h @contact_type.name %>
</p>

<ul id="contact_details">
    <b>Dettagli di contatti</b>
    <% for contact_detail in @contact_type.contact_details do -%>
        <li class="contact_detail">
            <%= link_to h(contact_detail.content), contact_detail %>
        </li>
    <% end -%>
</ul>

<%= link_to 'Edit', edit_contact_type_path(@contact_type) %> |
<%= link_to 'Back', contact_types_path %>
</div>
